body {
  background-color: hsl(0, 9%, 91%);
  font-family: "DM Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 8rem;
}

.wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.wrapper :nth-child(n) {
  border-radius: 15px;
}

.create-card {
  background-color: hsl(31, 66%, 93%);
  max-width: 200px;
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 0.9;
  img {
    align-self: center;
    padding-top: 1.5rem;
  }
}

.write-card {
  background-color: hsl(39, 100%, 71%);
  grid-column-start: 1;
  grid-row-start: span 2;
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 0.9;
  padding: 1rem;
  max-width: 230px;
  img {
    align-self: center;
    padding-top: 1.5rem;
  }
}

.social-card {
  background-color: hsl(256, 67%, 59%);
  color: hsl(0, 0%, 100%);
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p:first-child {
    font-size: 4rem;
    font-weight: 500;
    line-height: 0.9;
    text-align: center;
    margin: 1.5rem 0;
  }
}

.manage-card {
  background-color: hsl(0, 0%, 100%);
  font-size: 2rem;
  font-weight: 500;
  line-height: 0.9;
  padding-left: 1.5rem;
  padding-top: 1rem;
  max-width: 250px;
  overflow: hidden;
}

.maintain-card {
  background-color: hsl(39, 100%, 71%);
  font-size: 2rem;
  line-height: 0.9;
  font-weight: 500;
  padding-left: 1.5rem;
  max-height: 275px;
  overflow: hidden;
}

.schedule-card {
  background-color: hsl(254, 88%, 90%);
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: span 2;
  font-weight: 400;
  padding-left: 2rem;
  max-width: 240px;
  overflow: hidden;
  p:first-child {
    font-size: 2rem;
    line-height: 0.9;
    font-weight: 500;
  }
  p:nth-of-type(2) {
    max-width: 15ch;
    font-size: 1.15rem;
  }
}

.grow-card {
  background-color: hsl(256, 67%, 59%);
  grid-column-start: 3;
  grid-column-end: span 2;
  display: flex;
  padding: 1.5rem;
  gap: 10px;
  max-width: 535px;
  p:nth-of-type(1) {
    color: hsl(0, 0%, 100%);
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 1.1;
  }
}

.percentage-card {
  background-color: hsl(0, 0%, 100%);
  grid-column-start: 2;
  grid-row-start: 3;
  padding: 1.5rem;
  max-width: 230px;
  display: flex;
  flex-direction: column;
  p:first-child {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
  }
}

@media (width <= 500px) {
  body {
    padding: 0.75rem 0.25rem;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrapper:nth-child(n) {
    min-width: 325px;
  }
  .social-card {
    order: 1;
  }
  .manage-card {
    order: 2;
    min-inline-size: 350px;
  }
  .maintain-card {
    order: 3;
    min-inline-size: 350px;
  }
  .schedule-card {
    order: 4;
    min-inline-size: 350px;
    text-align: center;
    padding-left: 0.5rem;
    p:nth-of-type(2) {
      padding-left: 5rem;
    }
  }
  .grow-card {
    order: 5;
    min-inline-size: 325px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.5rem;
  }
  .percentage-card {
    order: 6;
    min-inline-size: 325px;
  }
  .create-card {
    order: 7;
    min-inline-size: 310px;
  }
  .write-card {
    order: 8;
    min-inline-size: 350px;
  }
}
