body {
  background-color: hsl(0, 9%, 91%);
  display: flex;
  font-family: "DM Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 5rem;
}

.wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.wrapper :nth-child(n) {
  border-radius: 15px;
}

.create-card {
  background-color: hsl(31, 66%, 93%);
}

.write-card {
  background-color: hsl(39, 100%, 71%);
  grid-column-start: 1;
  grid-row-start: span 2;
}

.social-card {
  background-color: hsl(256, 67%, 59%);
  color: hsl(0, 0%, 100%);
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manage-card {
  background-color: hsl(0, 0%, 100%);
}

.maintain-card {
  background-color: hsl(39, 100%, 71%);
}

.schedule-card {
  background-color: hsl(254, 88%, 90%);
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: span 2;
}

.grow-card {
  background-color: hsl(256, 67%, 59%);
  grid-column-start: 3;
  grid-column-end: span 2;
}

.percentage-card {
  background-color: hsl(0, 0%, 100%);
  grid-column-start: 2;
  grid-row-start: 3;
}
